.Trial {
    text-align: center;
  }

  .Trial-header {
    background-color: #808080;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .text-container{
    min-height: 100vh;
    display: flex;
    align-items: top;
  }

  .Trial-text{
    margin-top: 10%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(20px + 2vmin);
  }


  .Trial-progress{
    margin-top: calc(20vw - 30px);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(10px + 2vmin);
  }

  .bigger{
    font-size: 150%;
    font-weight: bold;
  }

  .Site-link {
    height: 12%;
    color: #61dafb;
    position: absolute;
    top: 2%;
    left: 2%;
  }
